

  <label for='qId'>journey-unique-key</label>
  <input [(ngModel)]="questionnaire['key']" placeholder="ask-for-raise-timing" #qId>
  <br>
  <input [(ngModel)]="questionnaire['title']" placeholder="Question" #question>
  <br>
  <input [(ngModel)]="answer[1]"  placeholder="Answer" class="answer">
  <br>
  <input [(ngModel)]="answer[2]"  placeholder="Answer" class="answer">
  <br>
  <input [(ngModel)]="answer[3]"  placeholder="Answer" class="answer">
  <br>
  <input [(ngModel)]="answer[4]"  placeholder="Answer" class="answer">
  <br>
<br>

  <button (click)="addQuestion()"> Append Question to Config </button>
