
<br><br>
  <input [(ngModel)]="question['title']" placeholder="Question" #question>
  <span>correct</span>
  <br>
  <input [(ngModel)]="answer[1]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[1]['correct']" type="radio" name="correctAnswer">
  <br>
  <input [(ngModel)]="answer[2]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[2]['correct']" type="radio" name="correctAnswer">
  <br>
  <input [(ngModel)]="answer[3]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[3]['correct']" type="radio" name="correctAnswer">
  <br>
  <input [(ngModel)]="answer[4]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[4]['correct']" type="radio" name="correctAnswer">
  <br>
<br><br>

  <button (click)="addQuestion()"> Add Another Question</button>

  <button (click)="addQuestion()">COMPLETE</button>


<pre>{{answer | json}}</pre>


  <!-- 
    [
      {
        key: 'q1',
        title: 'How many of the following answers are incorrect?',
        options: [
          { value: '1' , text: 'Only one is incorrect'},
          { value: '2' , text: 'Two of the answers are not correct'},
          { value: '3' , text: 'Three answers are incorrect', correct: true},
          { value: '4' , text: 'All the answers are wrong'},
        ]
      },
      {
        key: 'q2',
        title: 'Which number is higher than 4,500?',
        options: [
          { value: '1' , text: '41'},
          { value: '2' , text: '1 x 10^4', correct: true},
          { value: '3' , text: '4,499'},
          { value: '4' , text: '8 x 10^-8'},
        ]
      }
    ]
   -->