
<label>Page-Type</label>
<select class="form-control"  [(ngModel)]="pageConfig['type']"  >
  <option value="BLURB">text</option>
  <option value="FRAME">iframe</option>
  <option value="EXTERNAL">external link</option>
  <option value="TRIVIA">trivia</option>
</select>

<div [ngSwitch]="pageConfig['type']" >
  <div *ngSwitchCase="'BLURB'"> 
    <label>Rich Text</label>    
    <quill-editor [(ngModel)]="pageConfig['content']"
      placeholder="Enter Text"
      [modules]="quillConfig"></quill-editor>
      <button (click)="addPage()">addPage</button>
    </div>

  <div *ngSwitchCase="'FRAME'"> 
      <label>URL</label>    
      <input [(ngModel)]="pageConfig['url']" class="form-control" placeholder="URL"  >
      <button (click)="addPage()">addPage</button>
    </div>

  <div *ngSwitchCase="'EXTERNAL'"> 
      <label>Lead up</label>
      <quill-editor [(ngModel)]="pageConfig['content']"
        placeholder="Enter Text"
        [modules]="quillConfig"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onContentChanged)="onContentChanged($event)"></quill-editor>
      <label>URL</label>    
      <input [(ngModel)]="pageConfig['url']" class="form-control" placeholder="URL" >
      <button (click)="addPage()">addPage</button>
    </div>
  <div *ngSwitchCase="'TRIVIA'"> 
    <p>Trivia not completed</p>
    </div>
</div>

<!-- <button (click)="clear()">clearPages</button> -->
<!-- <pre>{{ pageConfig | json}}</pre> -->
<!-- <pre>{{ config | json}}</pre> -->
