/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'); */

label{
  text-align: right;
  width: 140px;
}

label, input, text-area {
  display: inline-block;
  text-align: center;
  
}​
/* .input-group{
  display: flex;
} */

.lil-group{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: purple;
}

p {
  font-family: Lato;
} 