
<!-- 
<div class="form-group">
  <label for="journey" class="col-lg-4">journeyTitle:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['journey']" class="form-control" placeholder="journey" #journey >
  </div>
  <label for="stageGroup" class="col-lg-4">stageGroupTitle:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['stageGroup']" class="form-control" placeholder="stageGroup" #stageGroup >
  </div>
  <label for="stage" class="col-lg-4">stageTitle:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['stage']" class="form-control" placeholder="stage" #stage >
  </div>

  <label for="priority" class="col-lg-4">priority order:</label>
    <div class="col-lg-8">
  <input [(ngModel)]="navTaskObject['priority']" class="form-control" placeholder="priority" #priority >
  </div>

  <label for="tasktitle" class="col-lg-4">task title:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['title']" class="form-control" placeholder="title"   #tasktitle>
  </div>

  <label for="description" class="col-lg-4">task description:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['description']" class="form-control" placeholder="description" #description >
  </div>

  <label for="duration" class="col-lg-4">task duration:</label>
  <div class="col-lg-8">
    <input [(ngModel)]="navTaskObject['duration']" class="form-control" placeholder="duration" #duration >
  </div>
</div> -->

<label for="name" class="col-lg-4">Task-Type:</label>
<div class="col-lg-8">
  <select class="form-control"  [(ngModel)]="navTaskObject['type']" (change)='resetConfig()' >
    <option value="CONTENT">CONTENT</option>
    <option value="QUESTIONNAIRE">QUESTIONNAIRE</option>
    <option value="QUIZ">QUIZ</option>
    <option value="BGOCCUPATIONANALYSIS">BG_OCCUPATION_ANALYSIS</option>
  </select>
</div>
<div [ngSwitch]="navTaskObject['type']">
  <div *ngSwitchCase="'CONTENT'"> 
    <content-config (updateConfig)="updateTaskObject($event)"> </content-config>
  </div>
  <div *ngSwitchCase="'QUESTIONNAIRE'"> 
    <questionnaire (updateConfig)="updateTaskObject($event)"></questionnaire>
    </div>
  <div *ngSwitchCase="'QUIZ'"> quiz </div>
  <div *ngSwitchCase="'BGOCCUPATIONANALYSIS'"> BG_OCCUPATION_ANALYSIS </div>
  <div *ngSwitchDefault>...</div>
</div>

<h4>Task Json</h4>
<div>
  <pre>{{navTaskObject | json}}</pre>
</div>
