
<label>Task-Type</label>
  <select class="form-control"  [(ngModel)]="navTaskObject['type']"  >
    <option value="CONTENT">CONTENT</option>
    <option value="QUESTIONNAIRE">QUESTIONNAIRE</option>
    <option value="QUIZ">QUIZ</option>
    <option value="BGOCCUPATIONANALYSIS">BG_OCCUPATION_ANALYSIS</option>
  </select>

<div [ngSwitch]="navTaskObject['type']">
  <div *ngSwitchCase="'CONTENT'"> 
    <content-config (completeConfig)="updateTaskObject($event)"> </content-config>
  </div>
  <div *ngSwitchCase="'QUESTIONNAIRE'"> questionnaire </div>
  <div *ngSwitchCase="'QUIZ'"> quiz </div>
  <div *ngSwitchCase="'BGOCCUPATIONANALYSIS'"> BG_OCCUPATION_ANALYSIS </div>
  <div *ngSwitchDefault>...</div>
</div>


<div>
  <pre>{{htmlText}}</pre>
  <pre>{{navTaskObject | json}}</pre>
</div>
