

<div >
  <label for="journey">Journey:</label>
    <input [(ngModel)]="navTaskObject['journeyTitle']" placeholder="Title" #journey >
    <input [(ngModel)]="navTaskObject['journeyDescription']" placeholder="Description" >
  <br>
  <label for="stageGroup">StageGroup:</label>
  <input [(ngModel)]="navTaskObject['stageGroupTitle']" placeholder="Title" >
  <input [(ngModel)]="navTaskObject['stageGroupDescription']" placeholder="Description" >
  <br>
  <label for="stage" >Stage #:</label>
    <input [(ngModel)]="navTaskObject['stageNum']"  placeholder="stage" #stage >
<br>
  <label for="priority" >Task #:</label>
    <input [(ngModel)]="navTaskObject['priority']"  placeholder="priority" #priority >
    <input [(ngModel)]="navTaskObject['title']"  placeholder="title"   #tasktitle>
    <input [(ngModel)]="navTaskObject['description']"  placeholder="description" #description >
<br>
  <label for="duration" >task duration:</label>
    <input [(ngModel)]="navTaskObject['duration']"  placeholder="duration" #duration >
</div>  
  
<label style="width: 350px;">save task json before changing task-type</label>
<!-- <label for="name" >Task-Type:</label> -->
  <select   [(ngModel)]="navTaskObject['type']" (change)='resetConfig()' >
    <option value="CONTENT">Static Content</option>
    <option value="QUESTIONNAIRE">Questionnaire / decision</option>
    <!-- <option value="QUIZ">Quiz</option> -->
    <option value="BGOCCUPATIONANALYSIS">BurningGlass Occ-Analysis</option>
  </select>

<br><br><br>

<div [ngSwitch]="navTaskObject['type']" style="text-align:center">
  <div *ngSwitchCase="'CONTENT'"> 
    <content-config (updateConfig)="updateTaskObject($event)"> </content-config>
  </div>
  <div *ngSwitchCase="'QUESTIONNAIRE'"> 
    <questionnaire (updateConfig)="updateTaskObject($event)"></questionnaire>
    </div>
  <div *ngSwitchCase="'QUIZ'"> Quiz Builder not Complete </div>
  <div *ngSwitchCase="'BGOCCUPATIONANALYSIS'"> BG_OCCUPATION_ANALYSIS </div>
  <div *ngSwitchDefault>...</div>
</div>


<div *ngIf='showJSON'>
  <h4>Task Json</h4>
  <pre>{{navTaskObject | json}}</pre>
</div>
