<br><br>
  <input [(ngModel)]="trivia['title']" placeholder="Question" #question>
  <span>correct</span>
  <br>
  <input [(ngModel)]="answer[1]"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[1c]" type="radio" name="correctAnswer">
  <br>
  <!-- <input [(ngModel)]="answer[2]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[2]['correct']" type="radio" name="correctAnswer">
  <br>
  <input [(ngModel)]="answer[3]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[3]['correct']" type="radio" name="correctAnswer">
  <br>
  <input [(ngModel)]="answer[4]['text']"  placeholder="Answer" class="answer">
  <input [(ngModel)]="answer[4]['correct']" type="radio" name="correctAnswer"> -->
  <br><br>
<quill-editor [(ngModel)]="config['content']"
      placeholder="Enter Text"
      [modules]="quillConfig"
      (onSelectionChanged)="onSelectionChanged($event)"
      (onContentChanged)="onContentChanged($event)"></quill-editor>

{{answer | json}}
<br><br>

  <button (click)="addTriviaQuestion()"> Append Question to Content </button>
