<br><br>
  <input required [(ngModel)]="trivia['title']" placeholder="Question" #question>
  <span>correct</span>
  <br>
  <input required [(ngModel)]="answer[1]"  placeholder="Answer" class="answer">
  <input  type="radio" name="triviaAnswer" value='1' [ngModel]="answer[1]">
  <br>
  <input required [(ngModel)]="answer[2]"  placeholder="Answer" class="answer">
  <input  type="radio" name="triviaAnswer" value='2' [ngModel]="answer[2]">
  <br>
  <input [(ngModel)]="answer[3]"  placeholder="Answer" class="answer">
  <input  type="radio" name="triviaAnswer" value='3' [ngModel]="answer[3]">
  <br>
  <input [(ngModel)]="answer[4]"  placeholder="Answer" class="answer">
  <input  type="radio" name="triviaAnswer" value='4' [ngModel]="answer[4]">
  <br>
  
  <br><br>
<label>Closing</label>
<quill-editor [(ngModel)]="config['content']"
      placeholder="Enter Text"
      [modules]="quillConfig"></quill-editor>

<!-- {{trivia | json}} -->
{{config | json}}
<br><br>

  <button (click)="addTriviaQuestion()"> Append Question to Content </button>
